---
const { data } = Astro.props;

import "../styles/styles.css";
import Button from "./Button.astro";
---

<article>
  <div>
    <img src={data.images[0]} alt=`Image of ${data.name}` />

    <h2 class="ptekst1">{data.name}</h2>
    <p class="ptekst">{data.description1}</p>
  </div>

  <a href={`../produkt/${data.slug}`}>
    <Button text="Køb her" variant="light" />
  </a>
</article>

<style>
  @media (max-width: 768px) {
    img {
      width: 100%; /* Fylder hele bredden på mobil */
    }

    .ptekst1 {
      padding-left: 0.8em; /* Lidt indrykning på mobil */
    }

    .ptekst {
      padding-left: 1.2em;
    }
  }

  @media (min-width: 769px) {
    img {
      width: 500px; /* Fast bredde på desktop */
    }
  }

  .ptekst1 {
    margin-top: 1em;
    margin-bottom: 0.3em; /* Lidt luft før og efter */
  }

  .ptekst {
    margin-bottom: 0.5em;
  }
</style>
